@font-face {
  	font-family: "baru";
  	src: url('Kenia-Regular.ttf') format('truetype');
	}


@import url('https://fonts.googleapis.com/css2?family=Kenia&family=UnifrakturCook:wght@700&display=swap');

#aksarasenjata {
	font-size: 50px;
	background-color: #000000;
	color: white;
	font-family: 'Kenia', cursive;
}


#img1 {
	width: 100%;
	height: 400px;
	
}
/* NAVBAR */
.navbarhome {
  overflow: hidden;
  background-color: #333;
   /* Set the navbar to fixed position */
  width: 100%; /* Full width */

  float: right;
  display: block;
  color: #808080;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

   background: black;
  color: black;
  letter-spacing: 6px;
  word-spacing: 26px;
  font-size: 25px
}


/* YOUTUBE GOING-To Internet */
/* YOUTUBE GOING-To Internet */
/* YOUTUBE GOING-To Internet */
/* TIDAK TERPAKAI */
@charset "utf-8";
/* CSS Document */
body{
	margin:0px;
	padding:0px;
}
ul{
	list-style:none;
}
a{
	text-decoration:none;
}
.carouselExampleIndicators{
	width:100%;
	height: 100vh;
	background-color:#a4152c;
	display:flex;
	justify-content: center;
	align-items: center;
	
}
.box{
	width:350px;
	height:610px;
	background-color:#1e1e26;
	border-radius: 10px;
	box-shadow: 2px 10px 12px rgba(0,0,0,0.5);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	box-sizing: border-box;
	margin: 20px 10px;
}
.model{
	height: 350px;
	max-height: 100%;
	max-width: 100%;
}
.details{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 300px;
}
.details p{
	font-family: calibri;
	font-weight: bold;
	color:#6a6a74;
	text-align: center;
	margin-top: 20px;
}
.marvel{
	color:#32323e;
	font-weight: bold;
	letter-spacing: 2px;
	font-family: bebas kai;
	font-size: 25px;
}
.logo{
	height: 60px;
}
.box:hover{
	background-color: #17171d;
	transform-style: preserve-3d;
	transform: scale(1.02);
	transition: all ease 0.3s;
}
.box:hover .marvel{
	color:#c0292b;
	transition: all ease 0.5s;
}
/*--responsive for mobile phone--*/
@media(max-width:720px){
	.box{
		width: 94%;
		height: 500px;
	}
	.model{
		height:250px;
	}
	.details p{
		font-size: 16px;
		width: 250px;
	}
	
}

/* TIDAK TERPAKAI ATAS */ 
/* YOUTUBE GOING-To Internet */
/* YOUTUBE GOING-To Internet */
/* YOUTUBE GOING-To Internet */

/* BOX SETELAH NAVBAR BAWAH*/
#box1 {
	height: 380px;
	display: block;
	text-decoration: none;
}

#imgbox {
	height: 380px;
	max-height: 100%;
	max-width: 100%;
	position: relative;
	bottom: 60px;
}

#pbox {
	font-family: calibri;
	font-weight: bold;
	color: 6a6a72;

}

/* FOOTER PALING BAWAH - BAWAH*/
footer{
	background: #111;
	height: auto;
	width: 100vw;
	font-family: "Open Sans";
	padding-top: 40px;
	color:#fff; 
}

.footer-content{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}

.footer-content h3{
	font-size: 1.8rem;
	font-weight: 400;
	text-transform: capitalize;
	line-height: 3rem;
}

.footer-content p{
	max-width: 500px;
	margin:10px auto;
	line-height: 28px;
	font-size: 14px;

}

.socials{
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 1rem 0 3rem 0;
}

.socials li{
	margin:0 10px;
}

.socials a {
	text-decoration: none;
	color: #fff;

}
.socials a i{
	font-size: 1.1rem;
	transition: color .4s ease;
}
.socials a:hover i{
	color: aqua;
}

.footer-bottom{
	background: #000;
	width: 100vw;
	padding: 20px 0;
	text-align: center;

}
.footer-bottom p{
	font-size: 14px;
	word-spacing: 2px;
	text-transform: capitalize;
}
.footer-bottom span{
	text-transform: uppercase;
	opacity: .4;
	font-weight: 200;
}